* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.App {
  text-align: center;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('bg1.jpg');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
h1 {
  text-align: center;
  padding: 20px;
  font-family: 'Georgia', serif; /* Replace with your desired font */
  font-weight: bold;
  color: #ebebebd1; /* Replace with your desired color */
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}
